.bucket_container {
    height: 500px;
    width: 100%;
    padding: 100px 100px;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 28px 3px;
    max-width: 90%;
    margin: auto;
  }
  .bucket_row{
       display: flex;
       justify-content: space-between;
       align-items: center;
  }
  .buttonDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .buttonIcon {
    margin-bottom: 4px;
  }
  .emptyText {
    text-align: center;
    color: red;
    font-size: larger;
  }

  .btnAdd{
    margin-top: 5px;
    background-color: #4CAF50;
    height: 30px;
    width: 120px;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  .btnAdd:hover {
    background-color: #3E8E41;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .btnRemove{
    height: 30px;
    width: 120px;
    margin-top: 5px;
    background-color: #740f0f;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  .btnRemove:hover {
    background-color: #c04040;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .btnRemoveAll{
    height: 30px;
    width: 120px;
    background-color: #270453;
    color: white;
    padding: 5px 10px;
    border: none;
    margin-top: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
  }
  .btnRemoveAll:hover {
    background-color: #52238b;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }
  .btnAddAll{
    height: 30px;
    width: 120px;
    background-color: #4a0440;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    margin-top: 5px;
  }
  .btnAddAll:hover {
    background-color: #b0209b;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

  .LeftBuket{
       padding: 20px 120px;
       border: 1px solid rebeccapurple;
       display: flex;
       flex-direction: column;
       justify-content: center;
  }
  .list-group-item{
    list-style: none;
    text-align: center;
    height: 100%;
    width: 100%;
    background-color: rgb(144, 178, 209);
    border: none;
    padding: 5px;
    margin: 10px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 5px;
  }
  .list-group-item:hover{
    background-color: #cd96c5;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
  }

.rightbuket{
    padding: 20px 120px;
    border: 1px solid rebeccapurple;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
