 .home-dashboard{
    width: 100vw;
    height: 100vh;
    padding: 20px 100px;  
  }
  .title h1{
    font-size: 50px;
    background: linear-gradient(90deg,#21de00,#fc00ff);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .dash{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .task-listings{
    margin: 50px 0 0 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
    justify-content: center;
  }
  .task-listings h6{
    font-size: 20px;
    
  }
  .dashLink{
    margin-top: 50px;
    text-decoration: none;
    background: linear-gradient(90deg,#00dade,#4800ff);
    transition: 0.3s ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .dashLink:hover {
    background: linear-gradient(90deg,#002cde,#00eaff);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }